{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        Hello, dear visitor!
        I am a passionate individual with a diverse set of interests, including sports, video games, traveling, and new technologies. 
        I started playing video games as a kid and continued into adulthood, eventually becoming a professional Counter-Strike 1.6 player and a hardcore user in many other games.
        An interesting turn occurred when I was 19, as I joined Ubisoft as a Game Tester while concurrently pursuing my four-year bachelor's degree at university. 
        Over the next decade, I grew within Ubisoft Bucharest, culminating in my role as a Networking QA Lead.
    </p>
    <p>
        In 2018, I decided to take on new challenges and moved to Kyiv, where my role was to establish new specialized testing teams at the Ubisoft studio. 
        After four fulfilling years in Kyiv, I started a new chapter in Sofia, joining SEGA as a QA Manager, where I've spent the last four years contributing to the success of various projects.
        Throughout my career, I've been involved in over 30 projects, including renowned titles like the Assassin's Creed franchise, Watch Dogs, Far Cry, and Just Dance, as well as mobile games, VR experiences, mobile apps, and web testing.
    </p>
    <p>
        My expertise spans PMP Waterfall and Agile Project Management methodologies, Leadership, Coaching, Video games and Software testing, and proficiency in tools such as JIRA, Confluence, and Power-BI.
        In the last year I delved into Python and its various libraries, further expanding my skill set.
        If you like what you read and you believe that I am the right profile for you, don't hesitate to hit the contact button.
    </p>
</main>
{% endblock %}
