{% extends "base.html" %}

{% block content %}

<main class="main main--content">
    <dl>
       <div class="contact">
           <dt>Email:</dt>
           <dd class="contact__details">
               <a class="contact__link" href="mailto:catalin.dbalan@gmail.com">
                   catalin.dbalan [at] gmail.com
               </a>
           </dd>
       </div>
        <div class="contact">
           <dt>Github:</dt>
           <dd class="contact__details">
               <a class="contact__link" href="https://github.com/cdb1337">
                    @cdb1337
               </a>
           </dd>
       </div>
        <div class="contact">
           <dt>LinkedIn:</dt>
           <dd class="contact__details">
               <a class="contact__link" href="https://www.linkedin.com/in/cdbalan/">
                   @cdbalan
               </a>
           </dd>
       </div>
    </dl>
</main>

{% endblock %}