{% extends "base.html" %}

{% block content %}
  <main class="main main-project">
      <div>
          <img
              class="hero"
              src="{{ url_for('static', filename=project['hero']) }}"
              alt="Expense tracker app"/>

          <article class="project">
              <article class="project__content">
                  <h2 class="project__heading">{{ project['name'] }}</h2>
                      <p>
                          This is a short piece of code showcasing two best practices while using Selenium.
                          The use the webdriver_manager.chrome module and the usage of explicit waits using the WebDriverWait module from selenium.webdriver.support.ui.
                      </p>
              </article>
              <section>
                  <article class="project__meta-group">
                      <h3 class="project__heading project__heading--meta">Technologies used</h3>
                      <ul class="technology-list">
                          <li class="technology-list__item">Python</li>
                          <li class="technology-list__item">Selenium</li>
                      </ul>
                  </article>

                  <a class="cta" href="{{ project['prod'] }}">
                      <img class="cta__icon" src="/static/images/pointer.svg">
                      View in Production
                  </a>
              </section>
          </article>
      </div>
  </main>


{% endblock %}
